<div class="navbar-fixed ">
  <nav>
    <div class="nav-wrapper blue-grey">
      <a href="#!" class="brand-logo" style="text-decoration:none"><i class="material-icons icon icon-large">home</i></a>

      <ul class="right hide-on-med-and-down">
      	<li><a class="waves-effect waves-light btn">{{path}}</a></li>
      	        <li><a class="waves-effect waves-light btn" (click) = "checkoutCart()"> <i class="material-icons right">shopping_cart</i></a></li>
          </ul>
       <form class=" hide-on-med-and-down" id="form1" >
        <div class="input-field" style="max-width: 400pt;">
          <input id="search" type="search" (keyup)= "searchFood($event.target.value)" placeholder="What would you like to eat today?">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      </div>
      </form>
      </div>
      </nav>
      </div>

  <div class="page-content">    
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>Items</th> 
        <th>Price(Rs)<span class="glyphicon glyphicon-filter icon" (click) = toggleSortPrice()></span></th>
        <th>Rating <span class="glyphicon glyphicon-filter icon" (click) = toggleSortRating()></span></th>
      </tr>
    </thead>
    <tbody *ngFor = " let item of displayList" >
      <tr (click) = "addFoodtoCart(item)">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.rating}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf= "toggleView === true" id="myModal" class="modal scroll-modal">

  <!-- Modal content -->
  <div class="modal-content">
   <i class="material-icons icon"  (click) = "toggleView =!toggleView">close</i>
      <table class="table table-bordered" >
     <tbody *ngFor = " let item of checkoutList" >
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.price}} <i class="material-icons icon"  (click) = "removeItem(item)">close</i></td>
      </tr>
    </tbody>
    <tr *ngIf = "total>100">
    <td style="color:red">Total(Rs)</td>
    <td style="color:red">{{total}}</td>
	</tr>
    <tr *ngIf = "total>100">
    <td style="color:red">Discount 10% (Rs)</td>
    <td style="color:red">{{discount}}</td>
	</tr>
    <tr>
    <td style="color:red">Grand Total (Rs)</td>
    <td style="color:red">{{grandTotal}}</td>
	</tr>
    </table>
    <button (click) = "placeOrder()" >Place Order</button>
  </div>

</div>

<div *ngIf= "AckView === true" id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
  	<span>Your order will be delivered in <b>{{delivery_time}} </b> minutes <i class="material-icons icon"  (click) = "AckView =!AckView">close</i></span>
   
  </div>

</div>