<body>
<h1 class="title">Bon Appetit</h1>
<div class="row">
	<div class="col-4">
		<img src="../assets/chinese.jpg" class="card" [routerLink]="['/foodmenu/chinese']" [routerLinkActive]="['active']">
	</div>
	<div class="col-4">
		<img src="../assets/indianfood.jpg" class="card" [routerLink]="['/foodmenu/indian']" [routerLinkActive]="['active']">
	</div>
	<div class="col-4">
		<img src="../assets/fastfood.jpg" class="card" [routerLink]="['/foodmenu/fastfood']" [routerLinkActive]="['active']">
	</div>

</div>
</body>